NEXT_PUBLIC_API_BASE_URL=http://localhost:8081
NEXT_PUBLIC_ADMIN_TOKEN=dev-admin-token

KEYCLOAK_ISSUER_INTERNAL=http://localhost:8085/realms/router
KEYCLOAK_ISSUER_PUBLIC=http://localhost:8085/realms/router
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8085